@media (max-width: 1200px) {
  .hero-content {
    padding-top: 0;
  }
  .our-concern-wrapper {
    flex-direction: column;
  }
  .promise-tracker-item h4 {
    font-size: 45px;
  }
  .promise-tracker-item {
    padding: 0 40px;
  }
  .get-involed-live {
    padding-top: 100px;
  }
  .become-volunteer {
    margin-top: 100px;
    margin-bottom: 100px;
  }
  .footer {
    padding-top: 100px;
  }
  .footer-wrapper {
    gap: 50px;
  }
}

@media (max-width: 991px) {
  .hero-wrapper {
    flex-direction: column;
    gap: 50px;
  }
  .hero-right-img {
    position: relative;
    width: 100%;
  }
  .hero-content {
    flex-direction: column;
    gap: 40px;
    padding-top: 170px;
  }
  .hero-title-1 h1 {
    font-size: 40px;
    line-height: 120%;
  }
  .hero-form-content h2 {
    font-size: 30px;
    line-height: 150%;
  }
  .get-involed-live {
    padding-top: 0;
  }
  .become-volunteer {
    margin-top: 70px;
    margin-bottom: 80px;
  }
  .latest-news {
    padding: 70px 0 70px 0;
    background: #f5f5f5;
  }
  .who-section {
    padding: 80px 0 80px 0;
  }
  .get-involved-wrapper {
    padding-top: 60px;
  }
  .who-section .who-content {
    margin-top: 60px;
  }
  .leadership-title {
    padding-bottom: 50px;
    text-align: center;
  }
  .leadership .who-content {
    margin-top: 60px;
  }
  .leadership-2 {
    padding-top: 80px;
  }
  .leadership-wrpp {
    flex-direction: column-reverse;
  }
  .leadership-2 .who-content {
    margin-top: 60px;
  }
  .our-concern {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .our-concern-wrapper {
    gap: 40px;
  }
  .our-concern-item-img {
    width: 100%;
  }
  .our-concern-list {
    gap: 30px;
  }
  .election-content {
    top: 126px;
    width: 100%;
  }
  .election-card-item {
    margin-bottom: 50px;
  }
  .promise-tracker {
    top: -200px;
  }
  .promise-tracker-item {
    flex-wrap: flex;
  }
  .promise-tracker-item h4 {
    font-size: 45px;
  }
  .promise-tracker-item {
    padding: 10px 40px;
  }
  .promise-tracker-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  }
  .why-choose-me {
    position: relative;
    top: -80px;
    margin-top: 0;
  }
  .why-choose-me-content {
    right: 0;
  }
}

@media (max-width: 767px) {
  .hero-form-input-wrap {
    flex-direction: column;
    gap: 15px;
    margin-top: 24px;
    width: 100%;
  }
  .promise-tracker-content {
    display: grid;

    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  }
  .get-involved-title .section-title {
    font-size: 30px;
  }

  .get-involed-live {
    padding-top: 10px;
  }
  .get-involved-title {
    display: flex;
    gap: 40px;
  }
  .get-involved-content p {
    padding-bottom: 25px;
  }
  .get-involved-content {
    margin-top: 30px;
  }
  .promise-tracker-item h4 {
    font-size: 35px;
  }
  .promise-tracker {
    top: -175px;
  }
  .promise-tracker-title {
    padding-bottom: 30px;
  }
  .promise-tracker-item {
    border-right: none;
    padding: 10px 20px;
  }
  .why-choose-list-text h5 {
    font-size: 22px;
    line-height: 160%;
  }
  .why-choose-list-text p {
    font-size: 17px;
  }
  .why-choose-me-content {
    width: 100%;
    padding: 45px 30px;
  }
  .why-choose-me {
    position: relative;
    top: -105px;
    margin-top: 0;
  }
  .why-choose-me-content h4 {
    font-weight: 800;
    padding-top: 20px;
    font-size: 35px;
    line-height: 120%;
    letter-spacing: -0.25px;
    color: var(--white-color);
    padding-bottom: 20px;
  }
  .election-content {
    padding-top: 100px;
    position: relative;
    top: 0;
  }
  .election-location {
    width: 100%;
    gap: 20px;
    padding-bottom: 25px;
    flex-direction: column;
  }
  .election-count-timer .timer-item .days {
    font-size: 49px;
    font-weight: 800;
    line-height: 150%;
  }
  .election-count-timer {
    padding: 30px 0;
  }
  .election-card {
    position: relative;
    top: -200px;
  }
  .election-wrapper {
    position: relative;
  }
  .election-card-item {
    margin-bottom: 40px;
  }
  .section-title {
    font-size: 40px;
    line-height: 140%;
  }
  .concern-list-items {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }
  .our-concern-list {
    gap: 40px;
    width: 100%;
    flex-direction: column-reverse;
  }
  .our-concern-wrapper .who-content {
    max-width: 100%;
  }
  .concern-list-items li::before {
    width: 8px;
    height: 30px;
  }
  .concern-list-items li {
    line-height: 30px;
  }
  .why-choose-me-content {
    position: initial;
  }
  .why-choose-me-wrapper {
    height: inherit;
  }
  .become-volunteer-content h2 {
    font-size: 30px;
    line-height: 140%;
  }
  .become-volunteer-content {
    padding: 38px 34px;
  }
  .footer {
    padding-top: 70px;
  }
  .footer-wrapper {
    gap: 30px;
  }
  .footer-content h2 {
    font-size: 27px;
    line-height: 140%;
    padding-bottom: 20px;
  }
}
@media (max-width: 576px) {
  .hero-title-1 h1 {
    font-size: 30px;
    font-weight: 800;
  }
  .footer-copyright {
    width: 100%;
    gap: 20px;
    padding-bottom: 30px;
    flex-direction: column-reverse;
  }
  .latest-news {
    padding: 50px 0 50px 0;
    background: #f5f5f5;
  }
  .latest-news-header .bar {
    width: 60px;
    height: 7px;
    background-color: #ff0000;
    margin-top: 16px;
  }
  .latest-news-content .news-title {
    padding-bottom: 15px;
  }
  .become-volunteer-btn {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 15px;
    margin-top: 10px;
  }
  .latest-news-header {
    gap: 10px;
  }
  .custom-btn-alt {
    padding: 11px 24px;
    font-size: 17px;
  }
  .become-volunteer {
    margin-top: 45px;
    margin-bottom: 65px;
  }
  .promise-tracker {
    top: -100px;
  }
  .get-involved-title {
    gap: 25px;
  }
  .who-section {
    padding: 60px 0px;
  }
  .who-section .who-content {
    margin-top: 40px;
  }
  .election-content {
    padding-top: 60px;
  }
  .get-involed-live {
    padding-top: 0px;
  }
  .get-involved-card-content p {
    font-size: 16px;
    line-height: 50px;
  }
  .get-involved-card-content h3 {
    font-size: 24px;
    padding-bottom: 20px;
  }
  .get-involved-wrapper {
    padding-top: 50px;
  }
  .our-concern {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .election-content .who-content p {
    padding-bottom: 0;
  }
  .election-wrapper {
    min-height: 881px;
  }
  .election-card {
    top: -126px;
  }
  .election-card-item {
    padding: 35px 20px;
    border-radius: 12px;
    gap: 20px;
  }
  .election-card-content {
    gap: 20px;
  }
  .election-card-img img {
    width: 60px;
  }
  .election-card-content h3 {
    font-size: 24px;
  }
  .election-wrapper {
    min-height: 824px;
  }

  .why-choose-me {
    position: relative;
    top: -50px;
    margin-top: 0;
  }
  .why-choose-list-text h5 {
    font-size: 20px;
  }
  .election-location .election-icon {
    padding: 11px 16px;
  }
  .election-count-timer .timer-item .days {
    font-size: 35px;
  }
  .why-choose-me-content h4 {
    font-weight: 800;
    padding-top: 20px;
    font-size: 25px;
    line-height: 160%;
  }
  .leadership-title {
    padding-bottom: 40px;
  }
  .leadership-2 {
    padding-top: 60px;
  }
  .leadership .who-content {
    margin-top: 40px;
  }
  .section-title {
    font-size: 30px;
    line-height: 140%;
  }
  .site-logo {
    width: 60px;
  }
  .hero-form-content h2 {
    font-size: 25px;
    line-height: 150%;
  }
  .hero-form {
    border-radius: 15px;
    padding: 30px 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    max-width: 798px;
    z-index: 1;
  }
  .hero-content {
    flex-direction: column;
    gap: 30px;
    padding-top: 140px;
  }
  .hero-form-input-wrap .custom-btn {
    width: 100%;
    justify-content: center;
  }
  .custom-btn {
    padding: 11px 24px;
    font-size: 17px;
  }
}
